@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
  }

  body {
    @apply font-body;
  }

  svg {
    max-width: 100%;
    height: 100%;
  }

  .H1 {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 60px;
    line-height: 62px;
    text-align: center;
    color: theme('colors.neutral-500');
  }

  .H2 {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    color: theme('colors.neutral-500');
  }

  .H3 {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: theme('colors.neutral-500');
  }

  .H4 {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 30px;
    line-height: 46px;
    text-align: center;
    color: theme('colors.neutral-500');
  }

  .H5 {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: theme('colors.neutral-500');
  }

  .H6 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: theme('colors.neutral-500');
  }
}

@layer components {
  .App {
    min-height: calc(100svh - 195px);
    height: 100%;
  }

  .margin_top_section {
    @apply iPad:mt-[calc(theme(spacing.36)-3px)]
    mobile:mt-[calc(theme(spacing.28)-2px)] mobileSmall:mt-20;
  }

  .body_large {
    @apply font-body
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: theme('colors.neutral-500');
  }

  .body_medium {
    @apply font-body;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: theme('colors.neutral-500');
  }

  .body_small {
    @apply font-body;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: theme('colors.neutral-500');
  }

  .footer_text {
    @apply font-body;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  .hover_navbar {
    color: theme('colors.white');
    width: max-content;
    @apply mobileSmall:opacity-0 iPad:opacity-100 [&]:mobileSmall:transition-none;
  }

  .arrow {
    /*     display: inline-block;
    border: solid yellow;
    border-width: 0 3px 3px 0;
    padding: 7px; */
  }

  .workout_card:nth-child(odd) {
    @apply w-[theme(spacing.80)] h-[calc(theme(spacing.80)+30px)];
  }

  .workout_card:nth-child(even) {
    @apply w-[theme(spacing.80)] h-[calc(theme(spacing.80))];
  }

  .navbar_link:after {
    content: '';
    width: 0px;
    display: block;
    height: 1px;
    @apply bg-white;
    transition: width 0.3s;
  }

  .navbar_link:hover:after {
    width: 100%;
  }

  .drop_down_menu {
    height: 0;
  }

  .drop_down_menu--show {
    @apply py-[16px] px-[30px];
    animation: grownDownMenu 300ms ease-in-out forwards;
    transform-origin: top center;
  }

  .drop_down_menu--hide {
    animation-name: growUpMenu;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform-origin: top center;
    @apply px-[30px];
  }

  .faq {
    /*     display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -10;
    gap: 40px;
    margin-bottom: 100px; */
    position: absolute;
    z-index: -10;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0;
    width: 100%;
  }

  .faq_mark {
    @apply bg-iconFaqMark;
    width: 100%;
    max-width: 768px;
    min-height: 825.7px;
    height: 100%;
    height: 825px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    @apply -translate-x-2;
  }

  /*   max-w-[calc(theme(spacing.64)-theme(spacing.1))]] mx-auto */
  .faq_dot {
    @apply bg-iconFaqDot max-w-[calc(theme(spacing.64)-theme(spacing.1))] h-full w-full;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .arrow_btn {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .arrow_btn::before,
  .arrow_btn::after {
    border-radius: 20px;
    content: '';
    position: absolute;
    width: 28%;
    height: 5%;
    background: white;
    top: 50%;
    left: 30%;
  }

  .arrow_btn::before {
    transform-origin: 50% 50%;
    transform: rotate(50deg);
  }

  .arrow_btn::after {
    transform-origin: 50% 50%;
    transform: rotate(-50deg);
    left: 45%;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    transition: all 0.7s ease;
  }

  .navbar_line {
    @apply w-[30px] h-[3px] mt-[5px] bg-white transition-all ease-in-out duration-300;
  }

  .line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .line_2 {
    transition: all 0.7s ease;
    width: 0;
  }
  .line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .container_links_reset {
    position: static;
    height: auto;
    background-color: inherit;
    width: auto;
    margin-top: 0;
    transform: translateY(0);
    transition: none;
  }

  .container_links {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    /*      transform: translateY(50%);
    margin-top: 80px; */
    transition: all 1s ease-out;
    pointer-events: all;
    clip-path: circle(50px at 90% -20%);
    @apply bg-neutral-500;
  }

  .open {
    clip-path: circle(1000px at 100%);
    pointer-events: all;
  }

  .fade_links > li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
    @apply iPad:transition-none;
  }

  .fade_links > li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
    @apply iPad:transition-none;
  }

  .fade_links > li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
    @apply iPad:transition-none;
  }

  .fade_links > li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
    @apply iPad:transition-none;
  }

  .fade_links > li:nth-child(5) {
    transition: all 0.5s ease 1s;
    @apply iPad:transition-none;
  }

  .fade_links > li:nth-child(6) {
    transition: all 0.5s ease 1.2s;
    @apply iPad:transition-none;
  }

  .fade_btn {
    transition: all 0.5s ease 1.4s;
  }

  .fade_open {
    opacity: 1;
  }
}

@keyframes grownDownMenu {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
    height: 100%;
  }
}

@keyframes growUpMenu {
  0% {
    transform: scaleY(1);
    height: 130px;
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    height: 0;
    opacity: 0;
  }
}

/* todo: font change only for mobileSmall */
